@model IEnumerable<LicentaAlexeiDenis.CategoriiProduse>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categorii Produse</h2>

<p>
    @Html.ActionLink("Adauga o noua categorie", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DenumireCategorie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DenumireCategorie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodCategorie }) |
            @Html.ActionLink("Detalii", "Details", new { id=item.CodCategorie }) |
            @Html.ActionLink("Sterge", "Delete", new { id=item.CodCategorie })
        </td>
    </tr>
}

</table>
