@model LicentaAlexeiDenis.Produse

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalii</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeProdus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeProdus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PretEstimat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PretEstimat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeProprietar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeProprietar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriiProduse.DenumireCategorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriiProduse.DenumireCategorie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDProdus }) |
    @Html.ActionLink("Back to List", "Index")
</p>
